@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f4f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.conteiner{
  max-width:1000px;
  width:100%;
  margin:auto;
}

.search-form{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding:10px;
  margin:10px 0px;
  background-color: #fff;
  border-radius:4px;
  -moz-box-shadow: 0 4px 4px rgba(204, 211, 222, 0.7);
  -webkit-box-shadow: 0 4px 4px rgba(204, 211, 222, 0.7);
  box-shadow: 0 7px 6px rgba(204, 211, 222, 0.7);
}

.wraps {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.inpt{
  position: relative;
  display: flex;
  width:60%;
  padding-left:20px;
  margin-right:20px;
}

.inpt:after {
  content:'';
  position: absolute;
  margin-top:1px;
  right:0;
  width:2px;
  height:23px;
  background-color: #778396;
}

.search-icon{
  float:left;
  margin-top:-2px;
  font-size:25px;
  color:#222e42;
}

.search-close {
  margin-top:3px;
  font-size:20px;
  color:#e6ecf4;
  cursor:pointer;
  transition-duration: 0.3s;
}

.search-close:hover{
  color:#8091a1;
}

.word-input {
  width:80%;
  padding-right:20px;
  margin-left:20px;
  background-color: transparent;
  font-size:16px;
  font-family: 'Righteous', cursive;
  color:#222e42;
  border:none;
  outline: none;
}

.word-input::placeholder{
  font-family: 'Righteous', cursive;
  color:#6b7f92;
}

.urban {
  margin-top:2px;
}

.urban span {
  margin:0px 10px;
  font-size:16px;
  font-family: 'Righteous', cursive;
  color:#d9dfe7;
}

.cp {
  float:left;
  margin-top:2px;
}

.search-btn {
  padding:25px 23px;
  background-color:#0066ff;
  font-size:16px;
  font-family: 'Righteous', cursive;
  color:#fff;
  border:none;
  border-radius:4px;
  cursor:pointer;
}

.example{
  padding:20px 0;
  font-size:18px;
  font-family: 'Righteous', cursive;
  color:#222e42;
}

.urban-dict{
  display:flex;
  justify-content: flex-start;
  flex-wrap:wrap;
  padding:40px;
  background-color:#fff;
  border-radius:10px;
}

.item{
  width:270px;
  margin-left:30px;
  margin-bottom:20px;
  padding:30px;
  box-shadow: 0 0 10px #f0f3f6;
  border-radius:10px;
  transition-duration: .3s;
  cursor:pointer;
}

.item:hover {
  background-color: #0066ff;
  box-shadow: 0 0 35px #88b8ff;
}

.def {
  font-family: 'Roboto', sans-serif;
  color:#222e42;
  transition: 0.3s;
}

.item:hover .def {
  color:#fff;
}

.author{
  padding-bottom:10px;
  margin-bottom:10px;
  font-family: 'Righteous', cursive;
  color:#222e42;
  border-bottom:1px solid#e5e5e5;
  transition: 0.3s;
}

.item:hover .author {
  color:#fff;
  border-bottom:1px solid#1275fe;
}

.author span {
  float:right;
  color:#ddd;
}
